 body {
      background: linear-gradient(100deg, #FF9A02, #FED404);
 }


#success-message {
     display: none;
     margin-top: 10px;
     color: green;
     font-weight: bold;
 }


  .card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
  }


.carousel-img-wrapper {
  width: 100%;
  height: 500px; /* vagy amit szeretnél */
  overflow: hidden;
}

.carousel-img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* kitölti a helyet, nem torzít */
}



#myBtn {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #198754; /* bootstrap zöld */
  color: white;
  cursor: pointer;
  padding: 10px 16px;
  border-radius: 50px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition: opacity 0.3s ease-in-out;
}

#myBtn:hover {
  background-color: #145c32;
}

.eladottautok
{
  text-align: center;
}